[package]
name = "wasm-runtime-interface"
version.workspace = true
edition.workspace = true

[dependencies]
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
chrono = { workspace = true }
ipnet = "2.11.0"
url = "2.5.8"
wasmtime = "41.0.3"